/* -------  General Styles ------- */

header nav ul li{
  display: inline;
}

header nav .item{
  justify-content: center;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

.bold_text{
  font-weight: bold;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 400px;
  height: 300px;
}

#about img {
  height: 300px;
  width: 400px;
}

#about p {
  margin-top: 80px;
  margin-bottom: 10px;
  margin-right: 30px;
}


#menu .group{
  justify-content: space-between;
}
#menu .item {
  flex-direction: row;
  justify-content:space-evenly;
}

#stay .item {
  justify-content: space-around;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}


.item-double {
  flex: 2;
  justify-content: space-around;
}

.reverse_direction{
  flex-direction: row;
}

/* -------  Navigation ------- */

header div .item{
  flex-direction: row;
}

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

form div .group {
  justify-content: space-evenly;
}

form div .item {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}


/* -------  Media Query ------- */

@media all and (min-width: 480px) {

  .group {
    flex-direction: row;
  }
  main img {
    width: 800px;
    height: 500px;
  }

  .reverse_direction{
    flex-direction: column;
  }

  header div .group{
    flex-direction: row;
    justify-content: space-around;
  }
  .group2 {
    flex-direction: row;
  }

  section .stay .item{
    justify-content: space-between;
  }
}

#host div .item {
  margin-top: 100px;
}

